@import "tailwindcss";

@theme {
  --color-lumina-white: #FFFFFF;
  --color-lumina-cream: #FDFDFD;
  --color-lumina-lavender: #F5ECFF;
  --color-lumina-aqua: #E0F2F7;
  --color-lumina-gold: #FFD700;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Crimson Pro", serif;

  --image-ethereal-gradient: linear-gradient(135deg, #E0F2F7 0%, #F5ECFF 100%);
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
  }

  .glass-panel {
    @apply bg-white/30 backdrop-blur-md border border-white/40;
  }
}

/* Base styles */
body {
  background-color: var(--color-lumina-cream);
  color: #1e293b;
  /* slate-800 */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}